#section1{
    background: #f0f0f0;
}

.section1-container {
    padding: 50px 0px;
    /* height: 700px; */
}

.section1-content-text{
    /* margin-left: -100px;  */
    /* margin: 100px; */
    display: block;
}

.section1-content-text h1{
    font-style: normal;
    font-weight: 100;
    font-size: 40px;
    line-height: 64px;
    /* identical to box height, or 160% */
    letter-spacing: -0.714286px;
    color: #2D314D;
    margin-bottom: 15px;
}

.section1-content-text p{
    font-size: 18px;
    line-height: 28px;
    /* or 156% */
    letter-spacing: -0.28125px;
    color: #9597A5;
    margin-bottom: 40px;
}

.section1-content-group{
    margin-right: 0px;
}

.section1-content-group img{
    margin-bottom: 40px;
}

.section1-content-group h1{
    font-style: normal;
    font-weight: 100;
    font-size: 24px;
    line-height: 28px;
    /* identical to box height, or 117% */
    letter-spacing: -0.428571px;
    color: #2D314D;
    /* margin-bottom: 26px; */
}

.section1-content-group p{
    font-size: 16px;
    line-height: 26px;
    /* or 162% */
    letter-spacing: -0.25px;
    color: #9597A5;
}

.section1-content-group{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin: 40px; */
}

@media only screen and (max-width: 767px){
    .section1{
        text-align: center;
        background-color: #f0f0f0;
    }
    
    .section1-container{
        display: inline-block;
    }
    
    .section1-content-text{
        /* margin: 100px; */
        display: block;
        text-align: center;
        margin-bottom: 25px;
    }
    
    .section1-content-text h1{
        font-style: normal;
        font-weight: 100;
        font-size: 40px;
        line-height: 64px;
        /* identical to box height, or 160% */
        letter-spacing: -0.714286px;
        width: 100%;
        color: #2D314D;
        margin-bottom: 15px;
    }
    
    .section1-content-text p{
        font-size: 18px;
        width: 100%;
        line-height: 28px;
        /* or 156% */
        letter-spacing: -0.28125px;
        color: #9597A5;
    }
    
    .section1-content-group{
        /* margin-right: -90px; */
        display: inline-block;
    }
    
    .section1-content-group img{
        margin-bottom: 40px;
    }
    
    .section1-content-group h1{
        font-style: normal;
        font-weight: 100;
        font-size: 24px;
        line-height: 28px;
        /* identical to box height, or 117% */
        letter-spacing: -0.428571px;
        width: 100%;
        color: #2D314D;
        margin-bottom: 26px;
    }
    
    .section1-content-group p{
        font-size: 16px;
        line-height: 26px;
        width: 100%;
        /* or 162% */
        letter-spacing: -0.25px;
        color: #9597A5;
    }
    
    .section1-content-group{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        /* margin: 40px; */
    }

    .section1-content-group-card{
        text-align: center;
        margin-bottom: 25px;
    }
     
}